:host .container {
    position: absolute;
    width: 450px;
    top: 50%;
    left: 50%;
    margin-left: -225px;
    border-radius: 5px;
    box-shadow: 0 0 10px #16191D;
}
:host .container.main {
    margin-top: -50px;
    height: 100px;
}
:host .container.create {
    margin-top: -50px;
    height: 100px;
}
:host .container.join {
    margin-top: -50px;
    height: 100px;
}
:host .btn {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 1.6rem;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    background-color: #1F2228;
}
:host .btn:hover {
    background-color: #00897B;
    color: #263238;
}
:host .btn.create {
    left: 0;
    right: 50%;
    border-radius: 5px 0 0 5px;
}
:host .btn.join {
    left: 50%;
    right: 0;
    border-radius: 0 5px 5px 0;
}
