
:host {
    & katas-menu{
      top: 0;
      bottom: 30px;
      height: unset;
    }
    & div.actions{
      width: 200px;
      height: 30px;
      position: absolute;
      bottom: 0;
      z-index: 11;
      background-color: #1F2228;
      box-shadow: 1px 10px 10px #16191D;
      padding-top: 10px;

      i {
        margin-top: 3px;
        cursor: pointer;

        &:hover{
          color: #00897B;
        }
      }
    }
    & .content{
        position: absolute;
        left: 200px;
        right: 0;
        padding: 2px 4px;
        bottom: 0;
        top: 0;

        .notes{
            position: absolute;
            bottom: 0;
            height: 150px;
            right: 0;
            left: 0;
            padding-left: 8px;
            box-shadow: 0px 1px 10px #16191D; //@common-shadows;
            background-color: #1F2228; //@common-left-menu-black
            z-index: 9;

            //TODO remove in the future
            button{
              position: absolute;
              margin: 10px;
              float: right;
              right: 0;
            }

            & > h3{
              margin: 5px 0 0 0;
            }

            .textarea-scroller{
              position: absolute;
              top: 30px;
              left: 0;
              right: 0;
              bottom: 0;
              overflow: auto;
              padding-left: 12px;
              font-size: 0.8rem;
              background-color: #282c34;
            }

            .textarea{
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              outline: none;
              padding-left: 12px;
            }
        }
        .dummy-notes{
            position: absolute;
            bottom: 0;
            height: 150px;
            left: 0;
            width: 8px;
            background-color: #1F2228; //@common-left-menu-black;
            z-index: 11;
        }
    }
}
